// Custom font-size classes from 1px to 100px
@for $i from 1 through 100 {
    .fs-#{$i} {
      font-size: #{$i}px !important;
    }
  }
  @media (min-width: 576px) { 
    @for $i from 1 through 100 {
      .fs-sm-#{$i} {
        font-size: #{$i}px !important;
      }
    }
  }
  
  @media (min-width: 768px) { 
    @for $i from 1 through 100 {
      .fs-md-#{$i} {
        font-size: #{$i}px !important;
      }
    }
  }
  
  @media (min-width: 992px) { // For large devices and up
    @for $i from 1 through 100 {
      .fs-lg-#{$i} {
        font-size: #{$i}px !important;
      }
    }
  }
  
  @media (min-width: 1200px) { // For extra-large devices and up
    @for $i from 1 through 100 {
      .fs-xl-#{$i} {
        font-size: #{$i}px !important;
      }
    }
  }

  @media (min-width: 1400px) { // For extra-large devices and up
    @for $i from 1 through 100 {
      .fs-xxl-#{$i} {
        font-size: #{$i}px !important;
      }
    }
  }
  